#####################################################################
# Target platform
#####################################################################
CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq807x=y
CONFIG_TARGET_qualcommax_ipq807x_DEVICE_redmi_ax6=y

#####################################################################
# NSS Offloading
#####################################################################
CONFIG_ATH11K_NSS_SUPPORT=y
CONFIG_ATH11K_NSS_MESH_SUPPORT=y
CONFIG_PACKAGE_MAC80211_NSS_SUPPORT=y
CONFIG_PACKAGE_kmod-qca-nss-drv=y
CONFIG_PACKAGE_kmod-qca-nss-drv-bridge-mgr=y
CONFIG_PACKAGE_kmod-qca-nss-ecm=y
CONFIG_PACKAGE_kmod-qca-nss-drv-pppoe=y

# Additional NSS packages (VLAN, Multicast Snooping, etc)
CONFIG_PACKAGE_kmod-qca-nss-drv-vlan-mgr=y
CONFIG_PACKAGE_kmod-qca-mcs=y

# NSS SQM Traffic Shaping
CONFIG_PACKAGE_sqm-scripts-nss=y

#####################################################################
# Compiler Optimization
#####################################################################
CONFIG_BUILD_PATENTED=y
# Use ccache to speed up subsequent builds
CONFIG_CCACHE=y
CONFIG_DEVEL=y
CONFIG_TOOLCHAINOPTS=y
CONFIG_TARGET_OPTIONS=y
CONFIG_TARGET_OPTIMIZATION="-O2 -pipe -mcpu=cortex-a53+crc+crypto"
CONFIG_USE_GC_SECTIONS=y

# Kernel Config
CONFIG_ATH11K_MEM_PROFILE_512M=y
# Reduce kernel module size
# Disable unnecessary debugging for Wi-Fi driver.
CONFIG_ATH11K_DEBUGFS_HTT_STATS=n
CONFIG_ATH11K_DEBUGFS_STA=n
# Disables thermal throttling support for ath11k.
CONFIG_ATH11K_THERMAL=n

#####################################################################
# SSL Configuration
#####################################################################
# Use OpenSSL as the preferred SSL library
CONFIG_PACKAGE_libustream-openssl=y
CONFIG_PACKAGE_libustream-mbedtls=n
CONFIG_PACKAGE_libopenssl=y
CONFIG_LUA_ECO_OPENSSL=y
CONFIG_LUA_ECO_MBEDTLS=n
# Optimize OpenSSL for speed over size
CONFIG_OPENSSL_OPTIMIZE_SPEED=y

#####################################################################
# Wireless Configuration
#####################################################################
# Enable WPA3 and Mesh support
CONFIG_PACKAGE_wpad-mesh-openssl=y
# Avoid using mbedTLS for consistency across packages and to avoid mixed SSL libraries.
CONFIG_PACKAGE_wpad-basic-mbedtls=n

#####################################################################
# Library Optimization
#####################################################################
# Optimize common libraries (zlib, zstd) for speed, improving performance on compression tasks.
CONFIG_ZLIB_OPTIMIZE_SPEED=y
CONFIG_ZSTD_OPTIMIZE_O3=y

#####################################################################
# Feeds Configuration
#####################################################################
# Prevent package manager from adding custom feeds as repositories in final image.
# They don't exist upstream and will cause errors when trying to update
CONFIG_FEED_nss_packages=n
CONFIG_FEED_sqm_scripts_nss=n

# --- Essential Packages ---

#####################################################################
# LUCI (the web interface)
#####################################################################
CONFIG_PACKAGE_luci=y
# Enable HTTPS support
CONFIG_PACKAGE_luci-ssl-openssl=y

#####################################################################
# LUCI Applications
#####################################################################
# - Firewall: Manage firewall rules via LUCI.
CONFIG_PACKAGE_luci-app-firewall=y
# - Package manager for OpenWRT, manage installed packages via LUCI.
CONFIG_PACKAGE_luci-app-package-manager=y

# - iperf3: CLI tool to measure network performance.
#           This is essential to test WiFi speeds,
#           as posting speedtest.net results is useless
#           without knowing the network conditions.
CONFIG_PACKAGE_iperf3=y

# --- Optional Packages --- #

#### EVERYTHING BELOW THIS SECTION IS OPTIONAL!!

#### You can delete or comment out with '#' any package you don't want to install.

#####################################################################
# LUCI Applications
#####################################################################
CONFIG_PACKAGE_luci-theme-argon=y
# - SQM: Smart Queue Management for bufferbloat control.
CONFIG_PACKAGE_luci-app-sqm=y
# - Statistics: Monitor your router’s performance (CPU, memory, bandwidth).
CONFIG_PACKAGE_luci-app-statistics=y
CONFIG_PACKAGE_luci-app-argon-config=y
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_luci-app-openvpn=y
CONFIG_PACKAGE_luci-app-openvpn-server=y

#####################################################################
# Kernel Modules
#####################################################################

# Network
# Bridge module support for working with nftables for more complex firewall setups.
CONFIG_PACKAGE_kmod-nft-bridge=y

# ramoops: kernel module that logs crashes to RAM which can be read after a reboot.
# Check '/sys/fs/pstore' for logs after a crash.
CONFIG_PACKAGE_kmod-ramoops=y

#####################################################################
# Packages
#####################################################################

# - curl: CLI tool to transfer data with URLs. Useful for scripting, and supperior to wget.
CONFIG_PACKAGE_curl=y
CONFIG_LIBCURL_OPENSSL=y
CONFIG_LIBCURL_MBEDTLS=n
# - rsync: Efficient file transfers and backups.
CONFIG_PACKAGE_rsync=y
# - jq: Parse JSON data from the command line. Useful for scripting, and WAY better than `jsonfilter`.
CONFIG_PACKAGE_jq=y
# - pigz: Parallel gzip for faster compression.
CONFIG_PACKAGE_pigz=y
# - tar: Archiving utility. The default busybox tar is very limited.
CONFIG_PACKAGE_tar=y
# - tcpdump: Capture and analyze network traffic.
CONFIG_PACKAGE_tcpdump=y
# - htop: CLI tool to monitor system resource usage.
CONFIG_PACKAGE_htop=y
# lm-sensors isn't needed for IPQ807x devices.
CONFIG_HTOP_LMSENSORS=n
